html {
  color: white;
  background-color: #04273a;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Lobster', cursive;
}

.main-container {
  padding-top: 50px;
  text-align: center;
  min-height: 500px;
}

.main-container h1 {
  font-size: 72px;
  margin-top: 0px;
  letter-spacing: 2px;
}

.logo {
  width: 300px;
  height: auto;
}

.shadow {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  -webkit-box-shadow: 0px 0px 50px 20px black;
  -moz-box-shadow:    0px 0px 50px 20px black;
  box-shadow:         0px 0px 50px 20px black;
}

.backdrop {
  background: url(../img/pipes.png) no-repeat center center fixed;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.08;
}

footer {
  text-align: center;
  font-size: 10px;
}
